<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swufe.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        android:usesCleartextTraffic="true">
        <activity android:name=".GridViewActivity"></activity>
        <activity android:name=".MyListActivity2">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".RateCalculate" />
        <activity android:name=".MyListActivity" /> <!-- <activity android:name=".RateActivity" /> -->
         <activity android:name=".RateListActivity">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>
        <activity android:name=".AutoRateActivity" />
    </application>

</manifest>